{{ define "main" }}

<section class="site-about-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="site-about-wrapper">
          <div class="site-about-company">
            <h1>
              {{ .Params.heading }}
            </h1>
            <h1>
              {{ .Params.heading2 }}
            </h1>
          </div>
          <div class="site-about-description">
            <p>
              {{ .Description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="site-about-header">
  <div class="container">
    <div class="row d-flex align-items-center">
    <div class="col-sm-6 d-flex align-items-center">
      <div class="site-project-item">
        <div class="site-project-item-home">
          <img src="{{ "images/about/new/04.jpeg" | absURL }}" alt="failed_to_load_img">
        </div>
      </div>
    </div>
    <div class="col-sm-6 d-flex align-items-center">
      <div class="section-title">
        <h3>La Nostra Esperienza</h3>
        <p>
          Grazie al nostro team di professionisti altamente qualificati, che vanta decenni di esperienza nel campo della stampa, siamo in grado di offrire servizi che rispondono alle esigenze più diverse, dalla produzione di piccoli lavori personalizzati a grandi tirature per aziende e professionisti. Inoltre, offriamo un servizio di copisteria per i privati, mettendo a disposizione tutte le risorse necessarie per la stampa di documenti, fotocopie e materiale di uso quotidiano.
        </p>
      </div>  
    </div>

    <div class="row">

      <div class="col-lg-4 col-md-6">
        <div class="shop-feature">
          <h3>Innovazione e Qualità</h3>
          <p>Investiamo costantemente in nuove attrezzature e tecnologie per garantire che i nostri clienti possano sempre usufruire dei più alti standard di qualità. Ogni anno, infatti, rinnoviamo il nostro parco macchine e potenziamo le nostre risorse per offrire soluzioni sempre più efficienti e all’avanguardia.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="shop-feature">
          <h3>Servizi Completi</h3>
          <p>
            Offriamo un servizio a 360 gradi che comprende la consulenza, la progettazione e la realizzazione di tutti i tipi di stampa, dalla tipografia tradizionale a quella digitale. Siamo in grado di soddisfare ogni richiesta con un approccio personalizzato, puntuale e professionale. In aggiunta, i nostri servizi di copisteria sono pensati per rispondere alle necessità quotidiane di privati, studenti e piccole imprese.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="shop-feature">
          <h3>Il Nostro Impegno</h3>
          <p>
            Il nostro impegno non si limita solo alla qualità della stampa, ma anche a un servizio clienti attento e disponibile. Ogni progetto viene seguito con cura e passione, per garantire che i risultati finali siano sempre all’altezza delle aspettative. 
          </p>
        </div>
      </div>

    </div>
  </div>
</section>


<section class="site-expertise">
  <div class="container">
    <div class="row">
      {{ with .Params.expertise_title }}
      <div class="col-md-5">
        <div class="section-title">
          <h2>{{ . }}</h2>
        </div>
      </div>
      {{ end }}
    </div>
    <div class="row">
      
      <div class="col-md-6">
        <ul class="site-expertise-list">
          {{ range first 12 .Params.expertise_sectors }}
          <li>{{ . }}</li>
          {{ end }}
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="site-expertise-list">
          {{ range after 12 .Params.expertise_sectors }}
          <li>{{ . }}</li>
          {{ end }}
        </ul>
      </div>
      
    </div>
    
    <div class="row justify-content-center mt-5 ">
      <img src="{{ "images/about/new/0.jpeg" | absURL }}" width="100%"  alt="failed_to_load_img">
        
    </div>
  </div>
</section>





{{ partial "call-to-action.html" . }}

{{ end }}