{{ with .Site.Params.portfolio }}
  {{ if .enable }}
  <section class="site-project" id="project">
    <div class="container">
      

      <div class="row">

        <div class="col-sm-6">
          <div class="site-project-item">
            <div class="site-project-item-home">
              <img src="{{ "images/home/stampa-digitale-digital-time.jpg" | absURL }}" alt="failed_to_load_img">
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card border-0 h-100">
            <div class="card-body  p-4 pt-0 pt-lg-0">
                <h5 class="fs-4 fw-bold ">TIPOGRAFIA DIGITALE</h5>
                <h4 class="fs-4 fw-bold ">IL NOSTRO SERVIZIO DI STAMPA</h4>
                <p class="mb-0">Stampiamo oltre che su carta in piccolo e grande formato, anche su materiale plastico e su tessuto. Trattiamo inoltre anche il segmento vetrofanie. Ormai da quando siamo presenti sul mercato abbiamo realizzato molte installazioni di allestimenti sia di interni che di esterni… vetrofanie, decorazioni adesive su pareti, decorazioni 3D a rilievo applicate a muro, vi invitiamo di dare un’occhiata alla nostra gallery! <br><a href="portfolio" class="site-project-cta">Scopri i nostri lavori</a></p>
                
            </div>
        </div>
        </div>

      </div>

      
      


        <div class="container">
          <div class="row gx-lg-5 justify-content-around">
            <div class="col-lg-5 col-xxl-4">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <h4 class="fs-4 fw-bold">T-SHIRT E FELPE PERSONALIZZATE!</h4>
                        <p class="mb-0">Stampiamo su T-shirt e felpe o abbigliamento con nostra o vostra fornitura delle stesse in stampa diretta o con nuovo sistema di stampa DTF che garantisce una durata maggiore della stampa.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-xxl-4 mb-5 my-auto">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <h4 class="fs-4 fw-bold">CARTUCCE PER STAMPANTI</h4>
                        <p class="mb-0">Vendita di cartucce compatibili Replay per le maggiori stampanti ad uso domestico.</p>
                    </div>
                </div>
            </div>
        </div>
          
          
        </div>

        
        
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}